<div>
    <table>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" ng-model="inputValue.ten"/></td>
            <td><p ng-if="kiemTraDuLieu.ten==true" style="color: red;">Vui lòng nhập họ tên</p></td>
        </tr>
        <tr>
            <td>Tuổi</td>
            <td><input type="text" ng-model="inputValue.tuoi"/></td>
            <td><p ng-if="kiemTraDuLieu.tuoi==true" style="color: red;">Vui lòng nhập tuổi</p></td>
        </tr>
    </table>
    <button ng-click="onSubmitForm()">Lưu</button>
    <table border="1">
        <tr>
            <td>Họ tên</td>
            <td>Tuổi</td>
            <td>Hành động</td>
        </tr>
        <tr ng-repeat="ds in danhsach">
            <td>{{ ds.ten }}</td>
            <td>{{ ds.tuoi }}</td>
            <td><button ng-click="onEdit(ds.id)">Sửa</button></td>
            <td><button ng-click="onDelete(ds.id)">Xóa</button></td>
        </tr>
    </table>
</div>