<div>
    <table>
        <tr>
            <td>Họ tên</td>
            <td><input type="text" ng-model="inputValue.ten"/></td>
            <td><p ng-if="kiemTraDuLieu.ten==true" style="color: red;">Vui lòng nhập họ tên</p></td>
        </tr>
        <tr>
            <td>Tuổi</td>
            <td><input type="text" ng-model="inputValue.tuoi"/></td>
            <td><p ng-if="kiemTraDuLieu.tuoi==true" style="color: red;">Vui lòng nhập tuổi</p></td>
        </tr>
    </table>
    <button ng-click="onSubmitForm()">Lưu</button>
</div>